* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    color: black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 110px;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav ul li a {
    padding: 2px 15px;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(201, 201, 201) 0%, white 100%);
    background-size: 100% 0%;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

nav ul li a:hover {
    background-size: 100% 100%;

}

main {
    height: 80vh;
    border-top: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-btn a {
    background-color: rgb(242, 242, 15);
    width: 200%;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}

.login-btn a:hover {
    background: linear-gradient(to right, rgb(44, 228, 44), green);
}

section {
    height: 100vh;
}

h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

main .containt-left {
    margin: 5%;
    width: 30%;
}

#p1 {
    font-size: 10px;
    letter-spacing: 2px;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.singUp-btn a {
    background-color: rgb(244, 184, 33);
    width: 150%;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
}

.play {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play>p {
    font-size: 15px;
    letter-spacing: 1px;
}

#p2 {
    font-size: 15px;
    text-align: justify;
}

main .containt-right {
    display: flex;
    width: 30%;
}

.social-link {
    position: fixed;
    list-style: none;
    top: 40%;
    right: 20px;
}

.social-link .fa {
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}
.social-link .fa:hover{
    transform: scale(1.5);
}

section {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section .containt-left {
    width: 30%;
}

section h4 {
    color: green;
    letter-spacing: 2px;
}

section .containt-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section .containt-right a {
    width: 40%;
    text-decoration: none;
    background-color: green;
    text-align: center;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
}

section .services {
    height: 80vh;
    width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

section .services .card {
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px black;
    overflow: hidden;
    background-color: white;
    transition-duration: 0.3s;
}

section .services .card:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 50px black;
}

.card1 .img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-image: url("https://img.freepik.com/premium-photo/photo-luxury-car-evening-nature-road_763111-23605.jpg");
}

.card1 .content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 15px;
}

.card1 .other {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card1 .other span {
    font-size: 12px;
    font-weight: lighter;
}

.card1 h6 {
    background-color: aqua;
    width: 40%;
    padding: 2px 5px;
    border-radius: 10px;
    text-align: center;
}

.card2 .img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-image: url("https://img.freepik.com/premium-photo/cinematic-photoshoot-tree-life-movie-scene_1017901-517.jpg");
}

.card2 .content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 15px;
}

.card2 .other {
    display: flex;
    align-items: center;
    gap: 10px;

}

.card2 .other span {
    font-size: 12px;
    font-weight: lighter;
}

.card2 h6 {
    background-color: rgb(48, 162, 255);
    width: 30%;
    padding: 2px 5px;
    border-radius: 10px;
    text-align: center;
}

.card3 .img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2422588/pexels-photo-2422588.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=700&w=1200");
}

.card3 .content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 15px;
}

.card3 .other {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.card3 .other span {
    font-size: 12px;
    font-weight: lighter;
}

.card3 h6 {
    background-color: rgb(193, 48, 255);
    width: 30%;
    padding: 2px 5px;
    border-radius: 10px;
    text-align: center;
}

.contact-form{
    display: flex;
    width: 80%;
    height: 70vh;
    border: 2px solid;
    border-radius: 50px;
    padding: 50px;
    background-color: rgb(242, 242, 242);
}
.contact-text {    
    width: 50%;
    border-right: 1px dashed;
    
}
form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form div{
    background:linear-gradient(90deg,rgb(243, 243, 243),rgb(214, 214, 214));
    background-size: 0% 100%;
    color: white;
    transition: all 1s ease-in-out;
    transition-delay: 0.2s;
}
form div:hover{
    background-size: 100% 100%;
}
.contact-input {
    background-color: rgb(242, 242, 242);
    width: 50%;
}
form div a input{
    margin-left: 15px;
}

.tele,.mail,.location{
    border: 1px solid;
    width: 350px;
    border-radius: 5px;
    background-color: azure;
    padding: 10px 20px;
}
input{
    border: none;
    width: 70%;
    background-color: transparent;
}

.contact-text .map{
   margin-top: 10px;
   overflow: hidden;
}

.contact-text .map iframe{
    width: 63%;
}
